@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rubik+Bubbles&family=Rubik+Vinyl&display=swap'); 

.container {
    flex-grow: 1;
}

.img {
    opacity: .5;
    height: 23rem;
    padding-bottom: 1rem;
}

.main {
    padding-top: 1rem;
    color: #E0DAAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
}

.main h3 {
    margin-top: .5rem;
    font-size: 2rem;
}

.main p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}


