.breadcrumb {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
}

.cart_title {
    font-family: PT Sans,Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #E0DAAE;
}