.footer {
    width: 100%;
    box-shadow: 1px -5px 7px 1px rgba(0,0,0,0.75);
    background: -webkit-linear-gradient(90deg, #ffec70,#ffdd00,#ffdd00);
    background: linear-gradient(90deg, #ffec70,#ffdd00,#ffdd00);
    
    // flex-shrink: 0;
    flex-grow: 0;
}

.caption {
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
}


@media (min-width: 980px) {
  .caption {
    font-size: 2.5rem;
  }
 }