* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    background: -webkit-linear-gradient(90deg, #454545,#212121);
    background: linear-gradient(90deg, #454545,#212121);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appStyles {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
