* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body {
    background: -webkit-linear-gradient(90deg, #454545,#212121);
    background: linear-gradient(90deg, #454545,#212121);
}

.appStyles {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

button {
    border: none;
    background-color: transparent;
}
